# OpenRouter (https://openrouter.ai/keys )
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
OPENROUTER_API_KEY=sk-or-v1-******
OPENROUTER_MODEL=openai/gpt-4o

# SMTP settings
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=*****@gmail.com
SMTP_PASSWORD=****
NOTIFICATION_TO=*****@outlook.com

# GitHub
GITHUB_PAGES_URL=https://uvoooooo.github.io/TomatoNews

# RSS URL
RSS_URL=https://news.smol.ai/rss.xml

# Image generation settings
ENABLE_IMAGE_GENERATION = true